body{
  background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
}
#table{
  font-family: Arial;
  border-collapse: collapse;
  margin-left: 10%;
  
}
#table th, #table td{
  border: 2px solid rgb(206, 228, 9);
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  color: black;
}
#table tr:nth-child(2n){
  background-color: rgb(191, 252, 151);
}
#table tr:hover{
  background-color: rgb(163, 239, 241);
}
#table td{
  text-align: center;
}
span{
  font-size: 40px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
margin-bottom: 30px;

}
